{% if is_granted('ROLE_ADMIN') %}
    {% set base = "_admin" %}
{% elseif is_granted('ROLE_EDITOR') %}
    {% set base = "_editor" %}
{% else %}
    {% set base = "" %}
{% endif %}
{% extends 'layout/base' ~ base ~ '.html.twig' %}

{% block title %}Adamas /All Posts{% endblock %}

{% block body %}
    <h1>{% trans %}Post Index Admin{% endtrans %}</h1>

    {{ form_start(form) }}
    <div class="d-flex  align-items-center">
        <div>
        {{ form_widget(form.search) }}
        </div>
        <div>
            <button class="btn btn-outline-success ms-1 " type="submit">
                {% trans %}
                Search
                {% endtrans %}
            </button>
        </div>
    </div>
    {{ form_end(form) }}
    

    <form id="delete-multiple-posts-form" action="{{ path('app_admin_post_delete_multiple') }}" method="post">
        <div class="d-flex align-items-center m-2 justify-content-between">
            <div>
                <label for="delete-all-checkbox">{% trans %}Select All :{% endtrans %}</label>
                <input type="checkbox" name="delete-all-checkbox" onclick="toggleSelectAll(this)">
            </div>
            <div class="text-end m-2">
                <a type="button" class="btn btn-success m-1" href="{{ path('app_admin_post_new') }}">
                    {% trans %}
                        Create new Post
                    {% endtrans %}
                </a>
                <button type="button" class="btn btn-info" onclick="submitVisibleForm()">
                    {% trans %}
                        Visible/Hidden Selected
                    {% endtrans %}
                </button>
                <button type="button" class="btn btn-danger" onclick="submitDeleteForm()">
                    {% trans %}
                        Delete Selected
                    {% endtrans %}
                </button>
                <input type="hidden" name="_csrf_token" value="{{ csrf_token('delete-multiple-posts') }}">
            </div>
        </div>
        <table class="table table-striped text-center table-hover table-responsive mt-3">
            <thead>
                <tr>
                    <th>Check</th>
                    <th>Id</th>
                    <th>Slug</th>
                    <th>Title</th>
                    <th>Img</th>
                    <th>Published</th>
                    <th>CreatedAt</th>
                    <th>ModifiedAt</th>
                    <th>Actions</th>
                    <th>Visibility</th>
                </tr>
            </thead>
            <tbody>
            {% for post in posts %}
                <tr>
                    <td><input class="post-checkbox" type="checkbox" name="posts[]" value="{{ post.id }}"></td>
                    <td>{{ post.id }}</td>
                    <td>
                        <a class="no-underline" href="{{ path('app_user_post_by_slug', {'slug' : post.slug }) }}">
                            {{ post.slug}}
                        </a>
                    </td>
                    <td>{{ post.title }}</td>
                    <td><img src="{{ asset('uploads/img/' ~ post.img.img) }}" class="" width="50px" height="50px" alt="img post"></td>
                    <td>{{ post.published ? 'Yes' : 'No' }}</td>
                    <td>{{ post.createdAt ? post.createdAt|date('d-m-Y') : '' }}</td>
                    <td>{{ post.modifiedAt ? post.modifiedAt|date('d-m-Y') : '' }}</td>
                    <td>
                        <div class="d-flex flex-column">
                            <a type= "button" class="btn btn-primary " href="{{ path('app_admin_post_show', {'id': post.id}) }}">
                            {% trans %}Show{% endtrans %}</a>
                            <a type= "button" class="btn btn-warning m-1" href="{{ path('app_admin_post_edit', {'id': post.id}) }}">
                            {% trans %}Edit{% endtrans %}</a>
                            <button form="delete-post" name="delete" value="{{ post.id }}" class="btn btn-danger">{% trans %}Delete{% endtrans %}</button>
                        </div>
                    </td>
                    <td>
                        {% if post.published == 0%}
                            <a type = "button" class="btn btn-outline-info m-1" href="{{ path('app_user_post_hide', {'id': post.id}) }}" style="pointer-events: none;">
                            {% trans %}Visible{% endtrans %}</a>
                        {% else %}
                            {% if post.isHidden == 1%}
                                    <a type= "button" class="btn btn-secondary m-1" href="{{ path('app_user_post_hide', {'id': post.id}) }}">
                                    {% trans %}Hidden{% endtrans %}</a>
                            {% else %}
                                <a type = "button" class="btn btn-info m-1" href="{{ path('app_user_post_hide', {'id': post.id}) }}">
                                {% trans %}Visible{% endtrans %}</a>                    
                            {% endif %}
                        {% endif %}
                    </td>
                </tr>
            {% else %}
                <tr>
                    <td colspan="7">no records found</td>
                </tr>
            {% endfor %}
            </tbody>
        </table>
    </form>
    {{ include('post/_delete_form.html.twig') }} 
    <script>
        function toggleSelectAll(source) {
            var checkboxes = document.querySelectorAll('.post-checkbox');
            checkboxes.forEach(function(checkbox) {
                checkbox.checked = source.checked;
            });
        }

        function submitDeleteForm() {
            if (confirm("Are you sure you want to delete the selected comments?")) {
                document.getElementById('delete-multiple-posts-form').submit();
            }
        }

        function submitVisibleForm() {
            if (confirm("Are you sure you want to Visible/Hidden the selected posts?")) {
                form = document.getElementById('delete-multiple-posts-form');
                form.action = "{{ path('app_admin_post_visible_multiple') }}";
                form.submit();
            }
        }
    </script>
{% endblock %}
