{# <form id="delete-user" method="post" action="{{ path('app_admin_contact_delete_archive') }}" onsubmit="return confirm('Are you sure you want to delete this item?');">
    <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ contact.id) }}">
    <input type="hidden" name="delete" value="{{ contact.id }}">
    <button class="btn btn-secondary" type="submit">
        {% trans %}
            Archived
        {% endtrans %}
    </button>
</form> #}

<form class="me-2" id="delete" method="post" action="{{ path('app_admin_contact_delete') }}" onsubmit="return confirm('Are you sure you want to delete this item?');">
    <input type="hidden" name="_token" value="{{ csrf_token('delete') }}">
    <input type="hidden" name="delete" value="{{ contact.id }}">
    <button class="btn btn-secondary" type="submit">
        {% trans %}
            Archived
        {% endtrans %}
    </button>
</form>


