{# <form id="delete-editor" method="post" action="{{ path('app_editor_contact_delete_multiple') }}" onsubmit="return confirm('Are you sure you want to delete this item?');">
    <input type="hidden" name="_token" value="{{ csrf_token('editor-delete-multiple-contacts') }}">
    <button class="btn btn-danger" type="submit">
        {% trans %}
            Delete Selected Editor
        {% endtrans %}
    </button>
</form> #}

<form id="delete-multiple-form" method="POST" action="{{ path('app_admin_contact_delete_multiple') }}">
    {{ csrf_token('delete-multiple-contacts') }}
    {% for contact in contacts %}
        <div>
            <input type="checkbox" name="contact[]" id="contact-{{ contact.id }}" value="{{ contact.id }}">
            <label for="contact-{{ contact.id }}">{{ contact.title }}</label>
        </div>
    {% endfor %}
    <button type="button" class="btn btn-danger" onclick="submitDeleteForm()">Supprimer les contacts sélectionnés</button>
</form>

