
{% block body %}
    {{ form_start(form) }}
        {{ form_label(form.title) }}
        {{ form_widget(form.title) }}
        {{ form_errors(form) }}

        {{ form_label(form.description) }}
        {{ form_widget(form.description) }}
        {{ form_errors(form) }}

        {{ form_label(form.mail) }}
        {{ form_widget(form.mail) }}
        {{ form_errors(form) }}

        {{ form_label(form.status) }}
        {{ form_widget(form.status) }}
        {{ form_errors(form) }}
        
        {{ form_rest(form) }}

        <button class ="btn btn-success mt-1" type="submit">
            {% trans %}
                Send
            {% endtrans %}
        </button>
    {{ form_end(form) }}
{% endblock %}
