{% if is_granted('ROLE_ADMIN') %}
    {% set base = "_admin" %}
{% elseif is_granted('ROLE_EDITOR') %}
    {% set base = "_editor" %}
{% else %}
    {% set base = "" %}
{% endif %}
{% extends 'layout/base' ~ base ~ '.html.twig' %}

{% block title %}Adamas / Contact Index{% endblock %}

{% block body %}
    <h1>
        {% if is_granted('ROLE_ADMIN') %}
            {% trans %}
                All Contacts
            {% endtrans %}
        {% elseif is_granted('ROLE_EDITOR') %}
            {% trans %}
                Contact Index Editor
            {% endtrans %}
        {% else %}
            {% trans %}
                Contact Index User
            {% endtrans %}
        {% endif %}
    </h1>

    {{ form_start(form) }}
        <div class="d-flex  align-items-center">
            <div>
            {{ form_widget(form.search) }}
            </div>
            <div>
                <button class="btn btn-outline-success ms-1 " type="submit">
                    {% trans %}
                        Search
                    {% endtrans %}
                </button>
            </div>
        </div>
    {{ form_end(form) }}
    <form id="delete-multiple-form" action="{{ path('app_admin_contact_delete_multiple') }}" method="post">
        {% if is_granted ('ROLE_ADMIN') %} {# penser à remettre en editor  #}
            <div class="d-flex align-items-center m-2 justify-content-between">
                    
                    <div>
                        <label for="delete-all-checkbox">{% trans %}Select All :{% endtrans %}</label>
                        <input type="checkbox" name="delete-all-checkbox" onclick="toggleSelectAll(this)">
                    </div>
                
                <div class="text-end m-2">
                    {% if is_granted('ROLE_ADMIN') %}
                        <button type="button" class="btn btn-danger" onclick="submitDeleteForm()">
                            {% trans %}
                                Delete Selected
                            {% endtrans %}
                        </button>
                        <input type="hidden" name="_csrf_token" value="{{ csrf_token('delete-multiple-contacts') }}">
                    {# {% else %}
                        {{include('contact/_delete_form_editor.html.twig')}} #}
                    {% endif %}
                </div>
            </div>
        {% endif %}
        <table class="table table-striped table-hover  text-center table-responsive mt-1">
            <thead>
                <tr>
                    {% if is_granted ('ROLE_ADMIN') %}
                        <th>Check</th>
                    {% endif %}
                    <th>Id</th>
                    <th>Title</th>
                    <th>Description</th>
                    <th>Mail</th>
                    <th>Status</th>
                    <th>Created_at</th>
                    <th>Updated_at</th>
                    <th>Author</th>
                    <th>actions</th>
                </tr>
            </thead>
            <tbody>
            {% for contact in contacts %}
                <tr>
                    {% if is_granted ('ROLE_ADMIN') %}
                        <td><input class= "contact-checkbox" type="checkbox" name="contact[]" value="{{ contact.id }}"></td> 
                    {% endif %}
                    <td>{{ contact.id }}</td>
                    <td>{{ contact.title }}</td>
                    <td>{{ contact.description }}</td>
                    <td>{{ contact.mail }}</td>
                    <td>{{ contact.status }}</td>
                    <td>{{ contact.createdAt ? contact.createdAt|date('Y-m-d H:i:s') : '' }}</td>
                    <td>{{ contact.UpdatedAt ? contact.UpdatedAt|date('Y-m-d H:i:s') : '' }}</td>
                    <td>{{ contact.user.username }}</td>
                    <td>
                    <div class="d-flex align-items-center">
                        {% if is_granted('ROLE_ADMIN') %}
                            <a type= "button" class="btn btn-primary" href="{{ path('app_admin_contact_show', {'id': contact.id}) }}">
                                {% trans %}
                                    Show
                                {% endtrans %}
                            </a>
                            <a type = "button" class="btn btn-warning m-1" href="{{ path('app_admin_contact_edit', {'id': contact.id}) }}">
                                {% trans %}
                                    Edit
                                {% endtrans %}
                            </a>
                            {# <a type = "button" class="btn btn-danger m-1" href="{{ path('app_admin_contact_delete', {'id': contact.id}) }}">Delete</a> #}
                            <button form="delete" name="delete" value="{{ contact.id }}" class="btn btn-danger">{% trans %}Delete{% endtrans %}</button>
                        {% else %}
                            <a type= "button" class="btn btn-primary " href="{{ path('app_user_contact_show', {'id': contact.id}) }}">
                                {% trans %}
                                    Show
                                {% endtrans %}
                            </a>
                            <a type = "button" class="btn btn-warning m-1" href="{{ path('app_user_contact_edit', {'id': contact.id}) }}">
                                {% trans %}
                                    Edit
                                {% endtrans %}
                            </a>
                            {{include('contact/_delete_form_user.html.twig')}}
                        {% endif %}
                    </div>
                    </td>
                </tr>
            {% else %}
                <tr>
                    <td colspan="8">no records found</td>
                </tr>
            {% endfor %}
            </tbody>
        </table>
    </form>
    
    <a type= "button" class="btn btn-success" href="{{ path('app_user_contact_new') }}">
        {% trans %}
            Create New Message
        {% endtrans %}
    </a>
    {{ include('contact/_delete_form.html.twig') }} 
    <script>
        function toggleSelectAll(source) {
            var checkboxes = document.querySelectorAll('.contact-checkbox');
            checkboxes.forEach(function(checkbox) {
                checkbox.checked = source.checked;
            });
        }

        function submitDeleteForm() {
            if (confirm("Are you sure you want to delete the selected contacts?")) {
                document.getElementById('delete-multiple-form').submit();
            }
        }
    </script>
{% endblock %}

        
        
