{% if is_granted('ROLE_ADMIN') %}
    {% set base = "_admin" %}
{% elseif is_granted('ROLE_EDITOR') %}
    {% set base = "_editor" %}
{% else %}
    {% set base = "" %}
{% endif %}
{% extends 'layout/base' ~ base ~ '.html.twig' %}

{% block title %}Adamas / Contact Index{% endblock %}

{% block body %}
    <h1>
        {%  trans %}
            Contact index
        {% endtrans %}
    </h1>

    {{ form_start(form) }}
    <div class="d-flex  align-items-center">
        <div>
        {{ form_widget(form.search) }}
        </div>
        <div>
            <button class="btn btn-outline-success ms-1 " type="submit">
                {% trans %}
                    Search
                {% endtrans %}
            </button>
        </div>
    </div>
    {{ form_end(form) }}

    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>Title</th>
                <th>Description</th>
                <th>Mail</th>
                <th>Status</th>
                <th>Created_at</th>
                <th>Updated_at</th>
                <th>Author</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for contact in contacts %}
            <tr>
                <td>{{ contact.id }}</td>
                <td>{{ contact.title }}</td>
                <td>{{ contact.description }}</td>
                <td>{{ contact.mail }}</td>
                <td>{{ contact.status }}</td>
                <td>{{ contact.createdAt ? contact.createdAt|date('Y-m-d H:i:s') : '' }}</td>
                <td>{{ contact.UpdatedAt ? contact.UpdatedAt|date('Y-m-d H:i:s') : '' }}</td>
                <td>{{ contact.user.username }}</td>
                <td>
                <div class="d-flex align-items-center">
                    {% if is_granted('ROLE_ADMIN') %}
                        <a type= "button" class="btn btn-primary" href="{{ path('app_admin_contact_show', {'id': contact.id}) }}">
                            {% trans %}
                                Show
                            {% endtrans %}
                        </a>
                        <a type = "button" class="btn btn-warning m-1" href="{{ path('app_admin_contact_edit', {'id': contact.id}) }}">
                            {% trans %}
                                Edit
                            {% endtrans %}
                        </a>
                        {{ include('contact/_delete_form.html.twig') }} 
                    {% else %}
                        <a type= "button" class="btn btn-primary " href="{{ path('app_user_contact_show', {'id': contact.id}) }}">
                            {% trans %}
                                Show
                            {% endtrans %}
                        </a>
                        <a type = "button" class="btn btn-warning m-1" href="{{ path('app_user_contact_edit', {'id': contact.id}) }}">
                            {% trans %}
                                Edit
                            {% endtrans %}
                        </a>
                        {{include ('contact/_delete_form.html.twig') }}
                    {% endif %}
                </div>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="8">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a type= "button" class="btn btn-success" href="{{ path('app_user_contact_new') }}">
        {% trans %}
            Create New Message
        {% endtrans %}
    </a>
{% endblock %}
