{{ apy_breadcrumb_trail_render() }}
{# templates/breadcrumb.html.twig #}
{# <nav aria-label="breadcrumb ">
    <ol class="breadcrumb list-unstyled">
        {{ apy_breadcrumb_trail_render() }}
    </ol>
</nav> #}
{# <ol class="breadcrumb">
    <li class="p-1 no-underline d-block"><a href="{{path('app_home')}}" class="no-underline">Accueil</a></li>
    <li class="p-1 no-underline d-block"><a href="{{path('app_contact_new')}}" class="no-underline">Contact</a></li>
    <li class="p-1 no-underline d-block"><a href="{{path('app_login')}}" class="no-underline">Login</a></li>
    <li class="p-1 no-underline d-block"><a href="{{path('app_register')}}" class="no-underline">Register</a></li>
</ol> #}


